pandas>=2.0.0
python-dateutil>=2.8.2
email-validator>=2.0.0.post2
groq>=0.11.0
python-dotenv>=1.0.1
markdown>=3.5.2
google-api-python-client>=2.100.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=1.1.0
streamlit>=1.30.0
pytest>=8.0.0
